.form_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 5rem 0;
  border-radius: 15px;
  box-shadow: 0 0 15px grey;
}

.btn{
  display: block;
  margin: 5px auto;
  font-size: large;
}

input{
  font-size: 26px;
}

form{
  width: 480px;
}

form>div{
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.error{
  border-radius: 3px;
  animation: errorColor 1500ms;
  -webkit-animation: errorColor 1500ms;
}

@keyframes errorColor {
  0% {
      background-color: red;
      color: white;
  }
  100% {
      background-color: white;
      color: red;
  }
}
