.ordercard{
  display: flex;
  margin: 1rem auto;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.ordercard > div {
  font-size: 18px;
}

.orderInfo > p{
  margin: 0.5rem
}

.disabled{
  opacity: 0.3; 
  cursor: not-allowed;
}