
#add > div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#add > div > input {
  width: 275px;
} 

#add > div > label {
  margin-bottom: 0;
}

table {
  border-collapse: separate; 
  border-spacing: 0 1em;
}

table, th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px
}

tr > th{
  font-size: revert;
}

.storeInfoInnerDiv, .storeInfoTable{
  width: 400px;
}

@media (max-width: 470px) {
  .storeInfoTable{
    width: 100%;
    padding: 0 5px;
  }
  .storeInfoInnerDiv{
    width: 100%
  }
}

@media (max-width: 410px) {
  .storeInfoTable > tr{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .storeInfoTable > tr > th,
  .storeInfoTable > tr > td{
    margin: 0 auto;
  }
  .storeInfoTable > tr > td{
    border: none
  }
} 

