.form_container{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 5rem 0;
}

.btn{
  display: block;
  margin: 5px auto;
  font-size: large;
}

input{
  font-size: 26px;
}

form{
  width: 460px;

}

form>div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}